@font-face {
    font-family: 'AmsiPro';
    src: url("../fonts/AmsiPro-Bold.woff2") format('woff2'), url("../fonts/AmsiPro-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiPro';
    src: url("../fonts/AmsiPro-Black.woff2") format('woff2'), url("../fonts/AmsiPro-Black.woff") format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}