@font-face {
    font-family: 'SantElia Rough Alt Bold ThrDMO';
    src: url("../fonts/SantEliaRoughAlt-BoldThrDMO.woff2") format('woff2'), url("../fonts/SantEliaRoughAlt-BoldThrDMO.woff") format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url("../fonts/SegoeUI.woff2") format('woff2'), url("../fonts/SegoeUI.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}